@charset "utf-8";
* { margin:0; padding:0;    
    box-sizing:border-box}
a { color:inherit; 
    text-decoration:none }
img {vertical-align: middle;}    
ul { list-style:none }
.row { max-width:1142px; margin:0 auto}
.cf:after { content:''; 
    display:block; clear:both }
.blind { width:0; height:0; 
    position:absolute; text-indent:-9999px;
    font-size:0px; overflow:hidden; line-height: 0;}
h1, h2, h3 ,h4, h5, h6 {font-size:100%; font-weight: normal;}
table {width: 100%; table-layout: fixed;}



#header {position:fixed; width:100%;background: white; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); z-index:99; }/*가로축 세로축 그림자 그림자색상*/
/* 다른박스들과 겹치지 않게하기 코드순서대로 뒤죽박죽으로 할경우 스크롤을 내릴때 뒤집힐수가 있다-박스 겹침 순서 z-index:999*/
.topmenu { text-align:right; padding: 9px 0; font-size: 11px; font-family: '나눔고딕'; color: rgba(0, 0, 0, 0.6); } /*글씨오른쪽/ 좌우패딩 11px이 적용이 안되는 이유는 부모박스에 주지말고 a에 각각 줘야/ 꼴골 색깔 사이즈는 a한테 줘도 되지만 칼라인헤릿때문에 상속이 가능하다*/
.topmenu a {padding:0 11px; /*border-left:1px solid #d2d3d5;*/position: relative;} /*a태그 인라인속성 상하여백이 줘도 반응무 그래서 상위클래스 톱메뉴에 패딩 상하여백을 줌*/
.topmenu a:hover {color: rgba(0, 0, 0, 0.8);}
/* .topmenu a:first-child {border:none;}  */
.topmenu a:before {content:''; width:1px; height:7px; background: #d2d3d5; position:absolute; left:0; top:50%; transform: translateY(-50%); }
/* 첫번째 아들 보더가 안보이게 된다 */
.topmenu a:first-child:before {display:none}


.h1NavWrap { 
    border-top:1px solid #dedede}
/* 보유클래스가 없을경우 상위클래스와 .row를 사용해서 포지션 렐러-킨더가든에서 사용한 예 */
.h1Nav {position:relative;height:103px;}    
.h1Nav h1 {/* float:left*/font-size:30px; color:#000; line-height:1;padding-top:25px; }/*마진바깥쪽위에 부작용발생 패딩 안쪽위*/
.h1Nav h1 span {font-size: 14px; display:block;letter-spacing:3.6px}    
.h1Nav {position: relative; height: 103px;}
.h1Nav .nav { /*float:right*/ position:absolute; top:0; right:0;}
.h1Nav .nav .depth1 > li {display: inline-block;position: relative;}/*뎁스2의 부모*/

.h1Nav .nav .depth1 > li > a {display:block; padding:0 50px; font-size:17px ;color:#666; font-family: '나눔고딕'; margin-top:38px;font-weight: bold;/*border-left:1px solid #d2d3d5;*/ position: relative;}/*마진사용할때 주변에 다른요소가 없으면 독자적으로 사용가능 그렇지 않으면 포지션렐러 사용해야*/
/* 인라인블록li에 떄문에 1칸 더 추가 그래서 패딩값 좀 로우60->40 */
/* .h1Nav .nav .depth1 > li:first-child > a {border:none} */
/*주의 a끼리 관계가 형제가 아니라 사촌 아버지가 li인 사촌 퍼스트-챠일드는 형제관계에서만 사용가능 그래서 위 코드대로 */
.h1Nav .nav .depth1 > li > a:before {content:'';width: 1px; height: 15px; background: #d2d3d5; position: absolute; left:0; top:50%;transform: translateY(-50%); }
/*위 동일태그와 성격이 같아짐  부모에게 렐러 해야 이태그의 부모는 자기자신에게*/
.h1Nav .nav .depth1 > li:first-child > a:before {display: none;transition: all 0.5s;} 

.nav .depth2 {position: absolute; top:100%; left:0; width: 100%;/*기본공식 뎁스1렐러*/
              background: #fff; padding:15px 25px; display: none; transition: all 0.5s;} /*상 우 하 좌 -- 상하 우좌*/
.nav .depth1 > li:hover .depth2 {display: block; }              
.nav .depth2 > li {line-height: 31px; font-size: 13px;text-align: center;color:rgba(0, 0, 0, 0.6); border-top:1px solid rgba(0, 0, 0, 0.15)}
.nav .depth2 > li:hover {color:rgba(0, 0, 0, 0.25);text-indent:1em; transition:all 0.5s;}
.nav .depth2 > li:first-child {border-top:none}
/*display none display block은 트랜지션이 먹히지않는다 문자값에는 먹히지않아 칼라는 숫자값이라 트렌지션에 적용이 된다*/
/* 내비게이션에서는 opacity쓰는게 아니다 트랜지션은 먹히지만/ 자바로 풀어야 */



#section {padding-top: 135px;}
.slide {width:100%; height: 590px; overflow:hidden }
.slide .slideInner {background-size:cover; background-repeat: no-repeat;height: 590px; position: relative;}
.slide .slideInner:nth-child(1) {background-image:url(../images/v_1.jpg);}
.slide .slideInner:nth-child(2) {background-image:url(../images/v_2.jpg);}
.slide .slideInner:nth-child(3) {background-image:url(../images/v_3.jpg);}
.slide .text {text-align: center; /*background: pink*/;position: absolute;top: 50%; left: 50%; transform:translate(-50%, -50%)}/*가운데 중앙 공식*/
.slide .text h2 {font-size: 80px; color:rgba(255, 255, 255, 0.65)}
.slide .text h3 {font-size: 17px; color:rgba(255, 255, 255, 0.65);margin: 10px 0;}/*마진 상하 우좌*/
.slide .text p {font-size: 11px; color:rgba(255, 255, 255, 0.45)}
/*rgba색상은 f12에서 찾을수있다*/
.slideOuter {position: relative; text-align: center;}
/*슬라이드 순서(도트)버튼*/
.slideOuter .dotBox {position: absolute; bottom:20px; width: 100%;}
.slideOuter .dotBox a {display: inline-block; width: 15px; height: 15px; background:rgba(255, 255, 255, 0.6); border-radius:50%; margin: 0 5px;}
/*a가 인라인스타일 이라 디스플레이로 풀어준다*/
.slideOuter .dotBox a.active {background: rgba(255, 255, 255, 1);}
/*슬라이드 화살표*/
.slideOuter .arr {font-size: 50px; color: rgba(255, 255, 255, 0.6); position: absolute;; top:50%; transform:translateY(-50%);}
.slideOuter .arr:hover {color: rgba(255, 255, 255, 1);}
.slideOuter .prev {left:100px; }
.slideOuter .next {right:100px}


.company {padding: 80px 0 90px;}
.company h2 {text-align: center;font-family: '나눔고딕';font-weight: bold;margin-bottom:60px}
.company h2 span {border:0px solid #f00; display: inline-block; height: 36px; line-height: 36px; vertical-align: top;}
/*줄이 맞지않는 두 요소를 한줄로 맞출때 베흐티칼-알린 기본설정은 baseline*/
.company h2 span:first-child {font-size:36px; color:#ccc;  padding-right:15px}
.company h2 span:last-child {font-size:17px; color:#666;  padding-left:15px; display:inline-block ; border-left :1px solid #ccc; }


.company ul li {width:25%; float:left;padding:0 40px;/* background: orangered;*/ }
/* 패딩 상하 0픽셀 좌우 40픽셀 */
.company ul li a {/*background: yellowgreen ;*/ display: block; text-align: center;}
.company ul li div {border-radius: 50%; overflow: hidden; transition: all 0.5s;/*border:1px solid #000*/}

.company ul li a img {width:100%; transition: all 0.3s; border-radius: 0%;}
.company ul li:hover img {transform:scale(1.2) }
.company ul li h3 {font-size: 17px; color:#666; margin: 25px 0 13px; font-weight: bold; transition: all 0.5s;}
.company ul li p  {font-size: 13px; color:#666; padding:0 10px 40px; line-height: 1.5; transition: all 0.5s;}
.company ul li span {font-size: 11px;color:#333; display:inline-block;padding: 9px 15px; border-top:1px solid #ccc; border-bottom: 1px solid #ccc; transition: all 0.5s;} 
/* .company li:hover {opacity: 0.5;} */
/* .company li:hover span {opacity: 1;} */
.company li:hover div,
.company li:hover h3,
.company li:hover p {opacity: 0.5;}
.company li:hover span {padding: 9px 35px;}
/*이렇게하면 글씨도 같이 커진다transform:scaleX(1.5) 그래서 패딩으로 늘리는데 이전에 스팬패딩에 9픽셀 15픽셀이 이미있었지 기존 상하는 9픽셀로 두고 우좌를 더 크게 늘리면된다 */




.business {height: 320px; background-image: url(../images/bgs-n1.jpg);background-size:cover;background-attachment: fixed; background-position: center;;position: relative;text-align: center;font-weight: bold;}
.business:before {content:''; position: absolute; top:0; left:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.3)}
.business .text {font-family: '나눔고딕'; display: inline-block;}
.business > .row {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.business .text p:nth-child(1) {font-size: 43px; color:rgba(255, 255, 255, 0.9); border-bottom: solid 1px #dedede;margin-bottom: 15px; padding-bottom: 13px;}
.business .text p:nth-child(2) {font-size: 17px; color:rgba(255, 255, 255, 0.9);}




.cscenter {padding:70px 0;}
.cscenter > div { float:left; /*border: 1px solid #000;*/ /*height: 300px;*/ }
.cscenter .board {width: 34.1506%;padding-right:40px;}
.cscenter .gobox {width: 21.3660%} /*2개라서 40%*/
.cscenter .cs {width: 23.1173%;}
/*row의 넓이 1142px 기준*/
.cscenter .board .tabTit li {display: inline-block;}/*빈틈없이 한줄정렬 이러면 ul에 cf안해도됨 */
.cscenter .board .tabTit li a {display :inline-block; font-size:14px; color:#999; padding: 10px 15px; } 
.cscenter .board .tabTit li a.on {color:#666; border: 1px solid #d9d9d9; border-bottom: none;}
.cscenter .board .tabTit {border-bottom: 1px solid #d9d9d9; padding:0 8px;}
.cscenter .board .tabCont {font-size: 13px; color:#666; margin-top:18px; height:167px; overflow:hidden;} 


.cscenter .board .tabCont td {padding:7px 5px; }

.cscenter .board .tabCont col:nth-child(1) {width:auto;}
.cscenter .board .tabCont col:nth-child(2) {width: 25%;}
.cscenter .board .tabCont td:nth-child(1) {white-space: nowrap; overflow:hidden; text-overflow: ellipsis;}
.cscenter .board .tabCont td:nth-child(1) a:before {content:'ㆍ';}
.cscenter .board .tabCont td:nth-child(2) {text-align: center;}



.cscenter .gobox {border-left: 1px solid #d9d9d9;padding: 15px 35px; height: 225px;}
.cscenter .gobox img {width: 100%; transition: all 0.5s;}
.cscenter .gobox .imgbox {position: relative; overflow:hidden}
.cscenter .gobox .overlay {position: absolute; top:0; left:0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.5);opacity: 0; transition: all 0.5s;}
.cscenter .gobox:hover .overlay {opacity: 1;}
.cscenter .gobox:hover img{transform: scale(1.2);}
.cscenter .gobox .text {color: #fff; border:1px solid #fff; position: absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:12px; padding:4px 8px;}
.cscenter .gobox a {display:block; text-align: center; color:#666; }
.cscenter .gobox h3 {font-size: 17px;  padding:15px 0px; font-weight: bold; /*color:#666*/transition: all 0.5s;}
.cscenter .gobox p {font-size: 13px; line-height: 1.5;padding: 0 15px;transition: all 0.5s; }
.cscenter .gobox:hover h3,
.cscenter .gobox:hover p {opacity: 0.8;}

.cscenter .cs {border:1px solid #d9d9d9; padding:15px 15px 19px; color:#666;} 
.cscenter .cs h3 {font-size: 18px;  color:#fff; padding:6px 0; background:url(../images/ptn_01.jpg); text-align :center;font-weight: bold; margin-bottom: 13px;}
.cscenter .cs p span:nth-child(2) {font-size: 20px;}
.cscenter .cs p span:nth-child(1) {font-size: 15px; padding-left:5px;display:inline-block; width: 40px;margin-left: 10px;}
.cscenter .cs .cstime {font-size: 12px; border-top:1px solid #d9d9d9; margin-top:13px; padding-top:13px; padding:13px 0 0 20px; line-height: 1.5;}
.cscenter .cs .cstime span {font-weight: bold;}




.pointBiz {padding:80px 50px; border-top:1px solid #dedede; position: relative;}
 
.pointBiz .text {float:left; width: 35%; padding:0 15px}
.pointBiz .imgbox {float:right; width: 65%; padding:0 15px; }
.pointBiz img {width: 100%; } /*모든이미지들이여 부모크기로 */
.pointBiz .text a {display: block;}
.pointBiz .pointslide h2 {font-weight: bold;}
.pointBiz .pointslide h2 p:nth-child(1) {font-size: 43px; color:#a6a6a6; }
.pointBiz .pointslide h2 p:nth-child(2) {font-size: 17px; color:#333; padding:11px 30px; margin:15px 0px 23px; font-weight: bold; border-top:1px solid #a6a6a6; border-bottom:1px solid #a6a6a6; text-align: center; display: inline-block;}/*넓이를 따로 안줘도되고 패딩좌우추가*/
.pointBiz .pointslide .comment {font-size: 15px; color:#666; min-height: 130px;padding-right:30px;}/*최소높이설정*/
.pointBiz .pointslide .text span {font-size: 11px; color:#333; display:inline-block; padding:9px 19px;border:1px solid #ccc}
/*인라인요소는 상하여백이 안되고 좌우는 될떄도 있고 안될때도 있다 그래서 인라인 블럭이 필요/ 만약 블락이 되버리면 자기를 감싸고 있는 부모의 넓이와 같아짐*/
.pointBiz .slideBox {height: 307.45px; overflow:hidden}
.pointBiz .arr {position: absolute; top:50%; transform: translateY(-50%);}
.pointBiz .prev {left:0}
.pointBiz .next {right:0}
.pointBiz .pointslide .text:hover {opacity:0.8;}
.pointBiz .pointslide .text:hover span {background: #edeef3;}

/*display: inline-block; 패딩을 더 크게 준다 :nth-child(2)*/




#footer { background:#111; color:#666; font-family: '나눔고딕'; padding-bottom: 60px;}
#footer .inner {position: relative;}

.inner .footerMenu {padding:50px 0px 0px; text-align: center;}
.inner .footerMenu a {font-size: 15px;  padding:0px 45px 1px;font-weight: bold;position: relative;}

.inner .footerMenu a:before {content: '|';  position: absolute; top:50%; left:0%; transform: translateY(-50%);font-weight: normal;} 
.inner .footerMenu a:nth-child(1):before {display: none;}

#footer .companyInfo { padding:35px 0px 0px; font-size: 13px; line-height: 2;} 

#footer .companyInfo .address span { padding:0 8px; position: relative;}
#footer .companyInfo .address span:before {content: '|';  position: absolute; top:50%; left:0; transform: translateY(-50% );font-weight: normal;}
#footer .companyInfo .address span:nth-child(1):before {display: none;}

#footer .companyInfo .bizinfo span { padding:0 8px; position: relative;}
#footer .companyInfo .bizinfo span:before {content: '|';  position: absolute; top:50%; left:0; transform: translateY(-50%);font-weight: normal;}
#footer .companyInfo .bizinfo span:nth-child(1):before {display:none}


#footer .sns {position: absolute; bottom: 0; right:0;}
.sns .copyright {font-size: 11px;line-height: 3;}
.sns .snslink {text-align: center;letter-spacing: 3px;}


/*선생님파트*/
/* #footer { background:#111; color:#666; padding:50px 0px 60px;}
#footer .inner {position: relative;}
#footer .footerMenu {font-size: 15px; text-align: center;}
#footer .footerMenu a {padding:0 45px ;font-weight: bold;position: relative;}
#footer .footerMenu a:before {content: '|';  position: absolute; top:50%; left:0; font-size: 10px; transform: translateY(-50%);font-weight:normal; } 
#footer .footerMenu a:first-child:before {display: none;} */

/*마진은 음수값 사용가능 패딩은 양수값만 존재*/
/* #footer .companyInfo { padding-top:35px; font-size: 13px;}
#footer .sns {position: absolute; bottom: 0; right:0;}
#footer .companyInfo span {position: relative; padding: 0 8px 0 15px;}

#footer .companyInfo span:before {content: '|';  position: absolute; top:0; left:0;}
#footer .companyInfo span:first-child:before, 
#footer .companyInfo span.detailaddr::before {display: none; padding:0;}

 
#footer .companyInfo span.detailaddr {margin-left:-15px}

#footer .sns {font-size: 11px; text-align: center;}
#footer .sns .copyright {padding-bottom: 10px;} */









/* .goTop {position: relative;}
.goTop a { font-size:30px; position: absolute; bottom:0;} */

.goTop { font-size:60px; position: fixed; bottom: 30px; right:40px; color:#666; z-index: 99999;opacity: 0.5;}


.loadBox { display:none; background: #fff; position: fixed; left:0; bottom: 0; top:0; right: 0; z-index: 999999999;} 
.loadBox i {font-size: 80px; position: absolute; top:40%; left: 50%; transform:translate(-50%, -50%)}








/*.company {position:relative; }
.company h2 {font-size:36px; color:#ccc; font-family: '나눔고딕'; font-weight: bold; padding:0px 15px 0px 0px;  padding-top: 80px; line-height: 1; }
.company span{font-size:17px; color:#666; font-family:'나눔고딕'; padding:7px 0px 8px 7px; display:block ; border-left :1px solid #ccc; position: absolute; left:50% ;transform: translateY(-50%); text-indent: 20px;}*/
